##### import the Diamond dataset

In [2]:
import pandas as pd
diamond=pd.read_csv(r"C:\Users\komar\Downloads\diamonds.csv")
diamond

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 1. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [3]:
### code here
print("Number of rows and columns:")
print(diamond.shape)
print("Data type of each column:")
print(diamond.dtypes)

Number of rows and columns:
(53940, 11)
Data type of each column:
Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

##### 2. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [4]:
### code here
diamond.describe(include=['object'])

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

###### 3. Write a Pandas program to remove the second column of the diamonds Dataframe. (don't use original dataset)

In [5]:
### code here
import pandas as pd
diamond = pd.read_csv(r"C:\Users\komar\Downloads\diamonds.csv") 
print("Original Dataframe:")
print(diamond.head())
print("Remove the second column of the said Dataframe:")
diamond.drop('cut',axis=1,inplace=True)
print(diamond.head())

Original Dataframe:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75
Remove the second column of the said Dataframe:
   Unnamed: 0  carat color clarity  depth  table  price     x     y     z
0           1   0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1           2   0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           3   0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3           4   0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           5   0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75

###### 4. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe. (dont use original dataset)

In [6]:
### code here
import pandas as pd
diamond=pd.read_csv(r"C:\Users\komar\Downloads\diamonds.csv") 
df=diamond.drop([2, 4, 5], axis=0, inplace=True)
diamond.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53

###### 5. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [7]:
### code here
result=diamond.cut.sort_values(ascending=True)
result

2583          Fair
8200          Fair
47802         Fair
51026         Fair
8197          Fair
           ...
16893    Very Good
43101    Very Good
7402     Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53937, dtype: object

###### 6. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [8]:
### code here
df2=diamond.sort_values('carat')
print(df2)
df3=diamond.sort_values(by=['carat'],ascending=False)
print(df3)

       Unnamed: 0  carat        cut color clarity  depth  table  price      x  \
31593       31594   0.20    Premium     E     VS2   61.1   59.0    367   3.81
31598       31599   0.20  Very Good     E     VS2   63.4   59.0    367   3.74
14             15   0.20    Premium     E     SI2   60.2   62.0    345   3.79
31600       31601   0.20    Premium     D     VS2   62.3   60.0    367   3.73
31599       31600   0.20      Ideal     E     VS2   62.2   57.0    367   3.76
...           ...    ...        ...   ...     ...    ...    ...    ...    ...
25998       25999   4.01    Premium     I      I1   61.0   61.0  15223  10.14
25999       26000   4.01    Premium     J      I1   62.5   62.0  15223  10.02
27130       27131   4.13       Fair     H      I1   64.8   61.0  17329  10.00
27630       27631   4.50       Fair     J      I1   65.8   58.0  18531  10.23
27415       27416   5.01       Fair     J      I1   65.5   59.0  18018  10.74

           y     z
31593   3.78  2.32
31598   3.71  2.36
14      3.75  2.27
31600   3.68  2.31
31599   3.73  2.33
...      ...   ...
25998  10.10  6.17
25999   9.94  6.24
27130   9.85  6.43
27630  10.16  6.72
27415  10.54  6.98

[53937 rows x 11 columns]
       Unnamed: 0  carat      cut color clarity  depth  table  price      x  \
27415       27416   5.01     Fair     J      I1   65.5   59.0  18018  10.74
27630       27631   4.50     Fair     J      I1   65.8   58.0  18531  10.23
27130       27131   4.13     Fair     H      I1   64.8   61.0  17329  10.00
25999       26000   4.01  Premium     J      I1   62.5   62.0  15223  10.02
25998       25999   4.01  Premium     I      I1   61.0   61.0  15223  10.14
...           ...    ...      ...   ...     ...    ...    ...    ...    ...
31594       31595   0.20  Premium     E     VS2   59.7   62.0    367   3.84
31593       31594   0.20  Premium     E     VS2   61.1   59.0    367   3.81
31592       31593   0.20  Premium     E     VS2   59.0   60.0    367   3.81
31591       31592   0.20  Premium     E     VS2   59.8   62.0    367   3.79
31600       31601   0.20  Premium     D     VS2   62.3   60.0    367   3.73

           y     z
27415  10.54  6.98
27630  10.16  6.72
27130   9.85  6.43
25999   9.94  6.24
25998  10.10  6.17
...      ...   ...
31594   3.80  2.28
31593   3.78  2.32
31592   3.78  2.24
31591   3.77  2.26
31600   3.68  2.31

[53937 rows x 11 columns]

###### 7. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [9]:
#### code here
diamond[diamond.carat==0.3]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
10,11,0.3,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
16,17,0.3,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.3,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.3,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.3,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66
...,...,...,...,...,...,...,...,...,...,...,...
53635,53636,0.3,Ideal,I,VVS1,62.1,56.0,552,4.30,4.33,2.68
53636,53637,0.3,Ideal,D,SI1,61.6,57.0,552,4.28,4.32,2.65
53637,53638,0.3,Very Good,D,SI1,62.5,57.0,552,4.26,4.28,2.67
53638,53639,0.3,Ideal,D,SI1,61.0,57.0,552,4.29,4.33,2.63
53639,53640,0.3,Ideal,D,SI1,61.0,56.0,552,4.35,4.37,2.66

###### 8.  Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [10]:
### code here 
diamond[(diamond.x>5) & (diamond.y>5) & (diamond.z>5)]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36
...,...,...,...,...,...,...,...,...,...,...,...
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16
48410,48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80
49189,49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12
49905,49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06

###### 9. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [11]:
### code here
df5=diamond.mean(axis=1)
df5.head()

C:\Users\komar\AppData\Local\Temp\ipykernel_23608\1996012240.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df5=diamond.mean(axis=1)

0    56.76125
1    57.38125
3    58.71875
6    59.11750
7    59.10875
dtype: float64

###### 10. Write a Pandas program to calculate the mean of price for each cut  and find maximum top 3 of diamonds DataFrame.

In [12]:
#### code here
print(diamond.groupby('cut').price.mean())
print(diamond.sort_values(by='price',ascending=False)[:3]['price'].values)

cut
Fair         4358.757764
Good         3930.331770
Ideal        3457.541970
Premium      4584.257704
Very Good    3982.061667
Name: price, dtype: float64
[18823 18818 18806]

##### 11. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [13]:
### code here
diamond.groupby('cut').price.agg(['count', 'min', 'max'])

           count  min    max
cut
Fair        1610  337  18574
Good        4904  339  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12081  336  18818

###### 12. Write a Pandas program to display and count the unique values in cut series of diamonds DataFrame.

In [24]:
### code here

print(diamond.cut.unique())
print(diamond.cut.nunique())

['Ideal' 'Premium' 'Very Good' 'Fair' 'Good']
5

######13.  Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [15]:
### code here
diamond.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

###### 14. Write a Pandas program to calculate the multiply of x, y and z for each cut of diamonds DataFrame.

In [16]:
### code here
diamond.x*diamond.y*diamond.z

0         38.202030
1         34.505856
3         46.724580
6         38.830870
7         42.321081
            ...
53935    115.920000
53936    118.110175
53937    114.449728
53938    140.766120
53939    124.568444
Length: 53937, dtype: float64

##### 15. Write a Pandas program to read rows 0 through 2 (inclusive), columns ‘color’ and ‘price’ of diamonds DataFrame.

In [17]:
## code here
diamond.loc[0:2,'color':'price']

  color clarity  depth  table  price
0     E     SI2   61.5   55.0    326
1     E     SI1   59.8   61.0    326

###### 16. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [18]:
### code here
diamond.iloc[[0,1],[0,3]]

   Unnamed: 0 color
0           1     E
1           2     E

##### 17. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [19]:
### code here
diamond.sample(n=3)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
44261,44262,0.50,Ideal,E,VS2,61.6,57.0,1575,5.09,5.13,3.15
53419,53420,0.72,Very Good,F,SI1,63.4,58.0,2670,5.69,5.66,3.60
29956,29957,0.23,Premium,F,VVS2,61.3,59.0,445,3.94,3.99,2.43

###### 18. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

In [20]:
### code here
result=diamond.sample(frac=0.75, random_state=99)
print(result)
print("Remaining 25% of the rows:")
print(diamond.loc[~diamond.index.isin(result.index), :])

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
43507       43508   0.43      Ideal     F    VVS1   62.0   57.0   1422  4.84
4072         4073   0.31       Good     D     SI1   63.5   56.0    571  4.29
41354       41355   0.43      Ideal     I     VS1   61.8   55.0   1218  4.88
44741       44742   0.62      Ideal     H     SI1   61.4   56.0   1618  5.51
30657       30658   0.38      Ideal     I    VVS2   61.7   56.0    737  4.67
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
4680         4681   0.73      Ideal     D     VS2   62.3   54.0   3673  5.77
34858       34859   0.30       Good     G    VVS2   63.6   57.0    878  4.30
13932       13933   1.27  Very Good     J     SI1   63.2   55.0   5669  6.89
31094       31095   0.36  Very Good     G    VVS2   61.7   56.0    753  4.56
41428       41429   0.53  Very Good     E     SI2   63.2   54.0   1227  5.19

          y     z
43507  4.81  2.99
4072   4.31  2.73
41354  4.90  3.02
44741  5.49  3.38
30657  4.70  2.89
...     ...   ...
4680   5.80  3.60
34858  4.26  2.72
13932  6.87  4.35
31094  4.58  2.82
41428  5.16  3.27

[40453 rows x 11 columns]
Remaining 25% of the rows:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
16             17   0.30      Ideal     I     SI2   62.0   54.0    348  4.31
17             18   0.30       Good     J     SI1   63.4   54.0    351  4.23
21             22   0.23  Very Good     E     VS2   63.8   55.0    352  3.85
29             30   0.23  Very Good     F     VS1   60.9   57.0    357  3.96
36             37   0.23       Good     E     VS1   64.1   59.0    402  3.83
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53919       53920   0.76      Ideal     I    VVS1   62.2   55.0   2753  5.89
53923       53924   0.73      Ideal     I     VS2   61.3   56.0   2756  5.80
53926       53927   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71
53934       53935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75

          y     z
16     4.34  2.68
17     4.29  2.70
21     3.92  2.48
29     3.99  2.42
36     3.85  2.46
...     ...   ...
53919  5.87  3.66
53923  5.84  3.57
53926  5.73  3.54
53934  5.73  3.58
53935  5.76  3.50

[13484 rows x 11 columns]

###### 19. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [21]:
#### code here
diamond.cut.duplicated().sum()

53932

###### 20. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [22]:
#### code here
diamond.duplicated().sum()

0